:root {
    --bg: #F9F4FB;
    --white: #FFFFFF;

    --pink: #B52184;
    --purple: #312D64;
    --purple-gradient: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 42rem;
    background: var(--bg);
}

.hero-box img {
    height: 23rem;
    width: 23rem;
}

.hero-text-box {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

h1 {
    font-size: 2rem;
    color: var(--pink);
    font-weight: 900;
    line-height: 40px;
}

.subtitle {
    color: var(--purple);
    font-size: 1.25rem;
    line-height: 25px;
}

.hero-text-box img {
    margin-top: 35px;
    cursor: pointer;
}

main {
    height: 77rem;
    background: var(--purple-gradient);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 49px;
}

.planet-card {
    width: 22rem;
    height: 21rem;
    background: var(--white);
    border-radius: 1.2rem;

    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 1rem;
  
}

.planet-card img {
    width: 5rem;
    height: 5rem;

    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.title {
    font-size: 1.8rem;
    color: var(--pink);
    font-style: normal;
    font-weight: 900;

    top: 12px;
    position: relative;
}

.text {
    font-size: 1rem;
    color: var(--purple);
    font-style: normal;
    font-weight: 600;
}

